* {
    background-color: #EAD2AC;
}

h1 {
    text-align: center;
    font-size: 50px;
    background-color: #FBA9A9;
    border: inset 7px #2a98c1;
}
p {
    text-align: center;
    font-size: xx-large;
}
#storeContainer {
    display: flex;
    flex-direction:row;
    text-align: center;
}
table,tr,th,td {
    border:1px solid black;
    border-collapse:collapse;
    width: 100%;
    margin-left: 80px;
}
li {
    font-size: 30px;
    text-align: center;
    list-style-type: none;
}
div {
    margin: 0px 0px 0px 550px;
}